<h2>Add a Recipe</h2>
<div class="form-group">
  <label for="title-input">Recipe Title</label>
  <input id="title-input" class="form-control" type="text">
  <br>
  <label for="description-input">Recipe Description</label>
  <input id="description-input" class="form-control" type="text">
  <br>
  <button id="add-recipe" class="btn btn-success">Add Recipe</button>
  <br>
</div>
<br><br>
<h3>My Recipes</h3>
<div id="recipe-list">
</div>
