  <script type="text/javascript" src="js/views/todo-input-view.js"></script>
  <script type="text/javascript" src="js/views/todo-list-view.js"></script>
  <script type="text/javascript" src="js/views/todo-main-view.js"></script>

  <script type="text/javascript" src="js/views/contacts-input-view.js"></script>
  <script type="text/javascript" src="js/views/contacts-list-view.js"></script>
  <script type="text/javascript" src="js/views/contacts-main-view.js"></script>


  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>