#memorygame {
	display:inline-block;
}

#memorygame .memoryCell {
	width:50px;
	height:50px;
	border-radius:5px;
	border:1px solid black;
	background-color:#ddddff;
	float:left;
	text-align:center;
	line-height:50px;
	font-size:large;
	margin:5px;
}

#memorygame .firstCol {
	clear:both;
}

#memorygame .faceup {
	background-color:#ffffff;
}

#memorygame .faceup:before {
	content:attr(value);
}

#memorygame .missing {
	border-color:grey;
	color:grey;
	visibility:hidden;
}

#resetBtn {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;	
}
